beautifulsoup4==4.12.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cairocffi @ file:///home/conda/feedstock_root/build_artifacts/cairocffi_1687005269909/work
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama==0.4.6
cryptography @ file:///C:/b/abs_8ecplyc3n2/croot/cryptography_1677533105000/work
cssselect2==0.7.0
fonttools==4.40.0
glib==1.0.0
html5lib==1.1
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
lxml==4.9.2
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.1
pangocffi==0.11.0
pdfkit==1.0.0
Pillow==9.5.0
pip-search==0.0.12
pycairo==1.23.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydyf==0.6.0
Pygments==2.15.1
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
PyPDF2==3.0.1
pyphen==0.14.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dotenv==1.0.0
QDarkStyle==3.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtPy==2.3.1
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
rich==13.4.2
six==1.16.0
soupsieve==2.4.1
tinycss2==1.2.1
typing_extensions==4.6.3
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
webencodings==0.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
zopfli==0.2.2
